Portals/.vs/DX11Starter/FileContentIndex/4b2b77ba-eff6-44d7-ae71-ada97c3a87a5.vsidx
Portals/.vs/DX11Starter/FileContentIndex/97a2641f-9e6a-44ad-b7f3-4a271e2294e6.vsidx
Portals/.vs/DX11Starter/FileContentIndex/980d18d8-1698-49cd-ad3d-da791b7cd7f1.vsidx
Portals/.vs/DX11Starter/FileContentIndex/a62c2222-1724-4606-b923-15c3d06d6d6c.vsidx
Portals/.vs/DX11Starter/FileContentIndex/fed5c8e9-a762-4ca3-ac68-633af925e9b7.vsidx
Portals/.vs/DX11Starter/v16/.suo
Portals/.vs/DX11Starter/v16/Browse.VC.db
Portals/.vs/DX11Starter/v16/ipch/AutoPCH/1a6f79d2c2709a5c/PORTAL.ipch
Portals/.vs/DX11Starter/v16/ipch/AutoPCH/30f6fd8a046df15e/GAME.ipch
Portals/.vs/DX11Starter/v16/ipch/AutoPCH/ba1a6f177bf82d33/MAIN.ipch
Portals/.vs/DX11Starter/v16/ipch/AutoPCH/d1eb411c19cddb7/DXCORE.ipch
Portals/.vs/DX11Starter/v18/.suo
Portals/.vs/DX11Starter/v18/Browse.VC.db
Portals/.vs/DX11Starter/v18/Browse.VC.db-shm
Portals/.vs/DX11Starter/v18/Browse.VC.db-wal
Portals/.vs/DX11Starter/v18/Browse.VC.opendb
Portals/.vs/DX11Starter/v18/DocumentLayout.backup.json
Portals/.vs/DX11Starter/v18/DocumentLayout.json
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/1c1136bcb2e3e206/TRANSFORM.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/426c91262904d6ea/PORTAL.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/49bf4ed20303466a/GAME.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/59279140fec05e8f/CAMERA.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/7910c9034b441f0e/MESHFACTORY.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/7f407ff9329d025/MATERIAL.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/ad2025ce6d73ac3b/NEW_SCALAR.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/ae5a4cc86db85fb/MESHFACTORY.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/b84a59ef1b199c77/ENTITY.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/db9a48784faa988d/MAIN.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/f583f3e64630cc59/MESH.ipch
Portals/.vs/DX11Starter/v18/ipch/AutoPCH/fff59b582ffbadcf/SIMPLESHADER.ipch
Portals/packages/directxtk_desktop_win10.2021.10.19.1/.signature.p7s
Portals/packages/directxtk_desktop_win10.2021.10.19.1/build/native/directxtk_desktop_win10.targets
Portals/packages/directxtk_desktop_win10.2021.10.19.1/directxtk_desktop_win10.2021.10.19.1.nupkg
Portals/packages/directxtk_desktop_win10.2021.10.19.1/docs/HISTORY.md
Portals/packages/directxtk_desktop_win10.2021.10.19.1/docs/README.md
Portals/packages/directxtk_desktop_win10.2021.10.19.1/docs/SECURITY.md
Portals/packages/directxtk_desktop_win10.2021.10.19.1/images/icon.jpg
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/Audio.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/BufferHelpers.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/CommonStates.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/DDSTextureLoader.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/DirectXHelpers.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/Effects.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/GamePad.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/GeometricPrimitive.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/GraphicsMemory.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/Keyboard.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/Model.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/Mouse.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/PostProcess.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/PrimitiveBatch.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/ScreenGrab.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/SimpleMath.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/SimpleMath.inl
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/SpriteBatch.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/SpriteFont.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/VertexTypes.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/include/WICTextureLoader.h
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/ARM64/Debug/DirectXTK.lib
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/ARM64/Debug/DirectXTK.pdb
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/ARM64/Release/DirectXTK.lib
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/ARM64/Release/DirectXTK.pdb
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/Win32/Debug/DirectXTK.lib
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/Win32/Debug/DirectXTK.pdb
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/Win32/Release/DirectXTK.lib
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/Win32/Release/DirectXTK.pdb
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/x64/Debug/DirectXTK.lib
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/x64/Debug/DirectXTK.pdb
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/x64/Release/DirectXTK.lib
Portals/packages/directxtk_desktop_win10.2021.10.19.1/native/lib/x64/Release/DirectXTK.pdb
Portals/x64/Debug/Camera.obj
Portals/x64/Debug/DX11Starter.exe
Portals/x64/Debug/DX11Starter.ilk
Portals/x64/Debug/DX11Starter.log
Portals/x64/Debug/DX11Starter.pdb
Portals/x64/Debug/DX11Starter.tlog/CL.command.1.tlog
Portals/x64/Debug/DX11Starter.tlog/CL.read.1.tlog
Portals/x64/Debug/DX11Starter.tlog/CL.write.1.tlog
Portals/x64/Debug/DX11Starter.tlog/DX11Starter.lastbuildstate
Portals/x64/Debug/DX11Starter.tlog/fxc.command.1.tlog
Portals/x64/Debug/DX11Starter.tlog/fxc.read.1.tlog
Portals/x64/Debug/DX11Starter.tlog/fxc.write.1.tlog
Portals/x64/Debug/DX11Starter.tlog/link.command.1.tlog
Portals/x64/Debug/DX11Starter.tlog/link.read.4.tlog
Portals/x64/Debug/DX11Starter.tlog/link.write.1.tlog
Portals/x64/Debug/DX11Starter.tlog/unsuccessfulbuild
Portals/x64/Debug/DXCore.obj
Portals/x64/Debug/Entity.obj
Portals/x64/Debug/Input.obj
Portals/x64/Debug/LightingPS.cso
Portals/x64/Debug/Main.obj
Portals/x64/Debug/Material.obj
Portals/x64/Debug/Mesh.obj
Portals/x64/Debug/MeshFactory.obj
Portals/x64/Debug/Portal.obj
Portals/x64/Debug/PortalPS.cso
Portals/x64/Debug/SimpleShader.obj
Portals/x64/Debug/Sky.obj
Portals/x64/Debug/SkyPS.cso
Portals/x64/Debug/SkyVS.cso
Portals/x64/Debug/Transform.obj
Portals/x64/Debug/vc142.idb
Portals/x64/Debug/vc142.pdb
Portals/x64/Debug/VertexShader.cso
Portals/DX11Starter/x64/Debug/Camera.obj
Portals/DX11Starter/x64/Debug/DX11Starter.exe.recipe
Portals/DX11Starter/x64/Debug/DX11Starter.ilk
Portals/DX11Starter/x64/Debug/DX11Starter.log
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/CL.command.1.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/Cl.items.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/CL.read.1.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/CL.write.1.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/DX11Starter.lastbuildstate
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/fxc.command.1.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/fxc.read.1.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/fxc.write.1.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/link.command.1.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/link.read.2.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/link.secondary.1.tlog
Portals/DX11Starter/x64/Debug/DX11Starter.tlog/link.write.1.tlog
Portals/DX11Starter/x64/Debug/DXCore.obj
Portals/DX11Starter/x64/Debug/Entity.obj
Portals/DX11Starter/x64/Debug/Game.obj
Portals/DX11Starter/x64/Debug/game.obj.enc
Portals/DX11Starter/x64/Debug/Input.obj
Portals/DX11Starter/x64/Debug/Main.obj
Portals/DX11Starter/x64/Debug/Material.obj
Portals/DX11Starter/x64/Debug/Mesh.obj
Portals/DX11Starter/x64/Debug/MeshFactory.obj
Portals/DX11Starter/x64/Debug/Portal.obj
Portals/DX11Starter/x64/Debug/SimpleShader.obj
Portals/DX11Starter/x64/Debug/Sky.obj
Portals/DX11Starter/x64/Debug/Transform.obj
Portals/DX11Starter/x64/Debug/vc145.idb
Portals/DX11Starter/x64/Debug/vc145.pdb
Portals/UpgradeLog.htm
